<ion-header>
    <ion-navbar>
        <button ion-button menuToggle="left">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{ 'NEWS_TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>{{ 'CLUB_NEWS_TITLE' | translate }}</ion-list-header>
        <ion-item *ngFor="let news of clubNews">
            <ion-thumbnail item-start>
                <ion-icon name="image"></ion-icon>
            </ion-thumbnail>
            <h2>{{news.title}}</h2>
            <p>{{news.description}}</p>
            <button ion-button clear item-end>{{ 'VIEW_DETAILS' | translate }}</button>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>{{ 'DEPARTMENT_NEWS_TITLE' | translate }}</ion-list-header>
        <ion-item *ngFor="let news of departmentNews">
            <ion-thumbnail item-start>
                <ion-icon name="image"></ion-icon>
            </ion-thumbnail>
            <h2>{{news.title}}</h2>
            <p>{{news.description}}</p>
            <button ion-button clear item-end>{{ 'VIEW_DETAILS' | translate }}</button>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>{{ 'TEAM_NEWS_TITLE' | translate }}</ion-list-header>
        <ion-item *ngFor="let news of teamNews">
            <ion-thumbnail item-start>
                <ion-icon name="image"></ion-icon>
            </ion-thumbnail>
            <h2>{{news.title}}</h2>
            <p>{{news.description}}</p>
            <button ion-button clear item-end>{{ 'VIEW_DETAILS' | translate }}</button>
        </ion-item>
    </ion-list>

</ion-content>